# ignore Jupyter notebook checkpoints, .pkl files, zip and csv files
.ipynb_checkpoints/
**/*.pkl
**/*.zip
**/*.csv*
**/*.npy
**/*.laz
**/*.txt
# ignore Python cache files
__pycache__/
*.py[cod]
# ignore virtual environment folders
venv/
hide/
env/
.venv/
.env/
# ignore VSCode settings folder
.vscode/
# ignore system files
.DS_Store
Thumbs.db
# ignore TreeQSM and helios
TreeQSM/
helios/